<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Autor</th>
            <th>Género</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img [src]="book.image" [alt]="book.name"/></td>
            <td>{{book.name}}</td>
            <td>{{book.autor}}</td>
            <td>{{book.genere}}</td>
            <td>{{book.price}}</td>
            <td>{{book.stock}}</td>
        </tr>
        <tr>
            <td><img [src]="book.image" [alt]="book.name"/></td>
            <td>{{book.name}}</td>
            <td>{{book.autor}}</td>
            <td>{{book.genere}}</td>
            <td>{{book.price}}</td>
            <td>{{book.stock}}</td>
        </tr>
        <tr>
            <td><img [src]="book.image" [alt]="book.name"/></td>
            <td>Libro 3</td>
            <td>Autor 3</td>
            <td>Género 3</td>
            <td>3000</td>
            <td>5</td>
        </tr>
    </tbody>    
</table>

